/* PHASE 0: Sidebar */

.profile-picture {
    display: block;
    margin-top: -50px;
    position: relative;
}

.profile-nav li  {
    padding: 3px 0 3px 0;
    border-bottom: 1px solid black;
    /* background-color: aqua; */

}

.profile-nav > ul:first-child {
    border-top: 1px solid black;

}